@page
@model ForgotPasswordModel

<div class="center log-sig">
    <img class="icon-movie-sign" src="/png/resourses/pin-code.png" />
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <input asp-for="Input.UserName" autocomplete="username" aria-required="true" placeholder="Enter login" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-light">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
