﻿@using AccessData.Data.Entities;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> SignInManager

@{
    string tmp = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Probably_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Probably_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="center d-flex justify-content-between align-items-center p-1">
            <a class="nav-link text-white fs-4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Home" asp-action="LoadUp" class="nan-link text-white fs-4">Load up</a>
            }
            <form asp-controller="Film" asp-action="Search" method="get" asp-route-title="@tmp">
                <div class="d-flex gap-1">
                    <input type="text" id="search" name="title" placeholder="Search..." class="p-1">
                    <button type="submit" id="find" class="btn btn-outline-light p-1">Find</button>
                </div>
            </form>
            <partial name="_LoginPartial" />
        </nav>                                                                                  
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
